.header{
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #ff6600;
  padding-left: 2px;
}
.logo {
  width: 20px;
  height: 20px;
}
.hnname {
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
}
.separator {
  padding: 0 5px;
}