.header{
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #ff6600;
  padding-left: 2px;
}
.logo {
  width: 20px;
  height: 20px;
}
.logo-img {
  border:1px white solid;
}
.home {
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
}
.separator {
  padding: 0 5px;
}
a {
  text-decoration:none; 
  color:#000000;
}
.nav.active {
  color: #fff;
}