<a class="title" [href]="item.url">{{item.title}}</a>
<span class="hostname" *ngIf="hostname">({{hostname}})</span>
<div class="subtext">
  <!-- TODO: handle single/plural case for points -->
  <span>{{item.score}} points by {{item.by}} {{item.time | dateAgo}} | </span>
  <a *ngIf="item.parent" [routerLink]="['/item']" [queryParams]="{id: item.parent}">parent | </a>
  <!-- TODO: show discuss if no comments -->
  <a [routerLink]="['/item']" [queryParams]="{id: item.id}">{{item.descendants}} comments</a>
</div>