/* You can add global styles to this file, and also import other style files */

* {
  font-family: Verdana, Geneva, sans-serif;
}
a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

p {
  margin-top: 8px;
  margin-bottom: 0px;
}