.container {
  margin-top: 5px;
}
.comhead {
  font-size: 8pt;
  color: #828282;
  padding-top: 2px;
  padding-bottom: 2px;
}

.commtext {
  font-size: 9pt;
}

.reply {
  font-size: x-small;
  text-decoration: underline;
}

.toggle-btn {
  border: none;
  font-size: 8pt;
  color: #828282;
  background: transparent;
}